# Godot 4+
.godot/
.import/
/android/

# Export configs (optional to ignore, but usually safe)
export_presets.cfg

# Builds / exports
builds/
*.exe
*.x86_64
*.app
*.pck
*.zip
*.dmg

# macOS junk
.DS_Store

# Logs
*.log

# Editor / IDE
.vscode/
.idea/

# Godot cache / temp
*.tmp
*.cache

# Linux
*.desktop

# Windows
Thumbs.db